<h1>PROFILE</h1>

<h2>Bienvenido</h2>
<h4>Nombre: {{user.first_name}}</h4>
{{#unless user.isGithub}}
  <h4>apellido: {{user.last_name}}</h4>
{{/unless}}
<h4>email: {{user.email}}</h4>
{{#unless user.isGithub}}
  <h4>edad: {{user.age}}</h4>
{{/unless}}
<h4>rol: {{user.role}}</h4>
{{#if user.isGithub}}
  <h4>Github Profile</h4>
{{/if}}

<button
  class="btnMove"
  onclick="location.href='/vistas/products?limit=3&page=1'"
>go to products</button>

<form action="/user/logout" method="post">
  <input class="btnLogout" type="submit" value="Logout" />
</form>